/* HOME */
body {
    background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:link {text-decoration: none; color: brown;}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: underline; color: red;}

#wrapper {
    width: 100%;
    height: auto;
    float: left;
}

#columns {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
    margin: 0 auto;
    width: 80%;
}

.pin {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
   /* opacity: 1;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;*/
}

.pin img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.pin p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}

@media (min-width: 960px) {
    #columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 1100px) {
    #columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

#columns:hover .pin:not(:hover) {
    opacity: 0.4;
}

#img_icon {
    float: left;
    padding-bottom: 50px;
    padding-right: 25px;
}

#searchDiv{
    float: left;
    padding-bottom: 50px;
}

#userDiv{
    float: left;
    padding-bottom: 50px;
    width: 40%;
    height: 50px;
    line-height: 50px;
}

#top_center_left{
    width: 80%;
    float: left;
    align:center;
}

#top_center_right{
    width: 20%;
    float: right;
    align:center;
}

.separatorH{
    width: 100%;
    float: left;
    height: 15px;
}

.container_top{
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 10px;
}

/* Search Bar */
.container-4{
    overflow: hidden;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
}

.container-4 input#search{
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #fff;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-4 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;
}

.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
    color: #65737e;
}

.container-4 button.icon{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border: none;
    background: #232833;
    height: 50px;
    width: 50px;
    color: #4f5b66;
    /*opacity: 0;*/
    font-size: 10pt;
/*
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;*/
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
   /* opacity: 1;*/
    margin-left: -50px;
}

.container-4:hover button.icon:hover{
    background: white;
}

/* user Board*/
#top_user{
    height: auto;
    float: left;
    width: 100%;
    text-align: center;
}

#menu_buttons{
    float: left;
    height: auto;
    width: 100%;
    text-align: center;
}

#listBoards{
    float: left;
    height: auto;
    width: 100%;
}

.pin .main_image{
    float: left;
    width: 150px;
    height: 150px;
    border:1px solid;
    margin: 5px;
}

.pin .second_image{
    float: left;
    width: 40px;
    height: 50px;
    border:1px solid;
    margin: 5px;
}

.pin .board_title{
    float: left;
    height: auto;
    width: 100%;
}

#top_board{
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
}